<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
            integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
            crossorigin=""/>
         <!-- Make sure you put this AFTER Leaflet's CSS -->
        <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
            integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
            crossorigin=""></script>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Seoul Live Map</title>
    </head>
    <body>
        <h1>Seoul Bus Live Map</h1>    
        <div id='mapid' style="width:900px; height:580px"></div>

        <script>
            var mymap = L.map('mapid').setView([37.5473, 126.9085], 12);
            // var marker = L.marker([37.5473, 126.9085]).addTo(mymap);
            L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 18,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoidGpkd29vY24iLCJhIjoiY2s3NGY5YzhiMDZkYjNsbnlodTM0NXkxbCJ9.EF87PivkJWkL5jOiE8cYww'
            }).addTo(mymap);
            
            // 버스 (7612,7611,6714) 마커생성
            mapMarkers1 = [];
            mapMarkers2 = [];
            mapMarkers3 = [];
            
            // 새로운 event source 생성, busdata_seoul 이라는 topic 사용
            var source = new EventSource('/topic/busdata_seoul');
            // 새로운 메세지가 생성 될때마다 업데이트 해주기 위한 event listener 추가
            source.addEventListener('message', function(e){

                // console에 메세지가 어떻게 전달되는지 보기위해 log 추가
                console.log('message');
                // 받은 log 데이터 json 형태로 파싱 후 log 기록
                obj = JSON.parse(e.data);
                console.log(obj);
                
                // var busIcon = L.Icon.extend({
                //     options: {
                //         iconSize:     [38, 95],
                //         iconAnchor:   [22, 94],
                //         popupAnchor:  [-3, -76]
                //     }
                // });

                // // Icon 이미지를 맵 위에 띄울려면 이미지들이 cloud 같이 공적인(?) 저장공간에 있어야함
                // // local 에 올린걸 사용하려니 안됨 (보류)
                // var greenBus = new busIcon({iconUrl: 'green-bus.png'}),
                //     redBus = new busIcon({iconUrl: 'red-bus.png'}),
                //     yellowBus = new busIcon({iconUrl: 'yellow-bus.png'});


                // 전달받은 message가 7612 버스의 좌표 데이터 라면
                if(obj.busline == '00001'){
                    for (var i = 0; i < mapMarkers1.length; i++){
                        // 가장 최신에 기록된 마커만 남겨두기위해 이전것은 제거
                        mymap.removeLayer(mapMarkers1[i]);
                    }
                    // 새로운 마커 생성, marker1에 7612의 각 정류소별 좌표 입력하여 맵에 표시
                    marker1 = L.marker([obj.latitude, obj.longitude]).addTo(mymap);
                    // 마커에 팝업달기, openPopup()을 쓰면 팝업 자동 오픈함
                    marker1.bindPopup('<b>7612</b>').openPopup()
                    mapMarkers1.push(marker1);
                }

                // 7611 버스라면
                if(obj.busline == '00002'){
                    for (var i = 0; i < mapMarkers2.length; i++){
                        mymap.removeLayer(mapMarkers2[i]);
                    }
                    marker2 = L.marker([obj.latitude, obj.longitude]).addTo(mymap);
                    marker2.bindPopup('<b>7611</b>').openPopup()
                    mapMarkers2.push(marker2);
                }

                // 6714 버스라면
                if(obj.busline == '00003'){
                    for (var i = 0; i < mapMarkers3.length; i++){
                        mymap.removeLayer(mapMarkers3[i]);
                    }
                    marker3 = L.marker([obj.latitude, obj.longitude]).addTo(mymap);
                    marker3.bindPopup('<b>6714</b>').openPopup()
                    mapMarkers3.push(marker3);
                }
            },  false);
        </script>
    </body>
</html>